.NavDropdown_control {
  display: flex;
}

.NavDropdown___0.NavDropdown___horizontal {
  position: relative;
}

.NavLevel___1.NavLevel___horizontal {
  position: absolute;
  background-color: var(--pink);
  top: 2rem;
  z-index: -1;
}

.NavDropdown_button {
  margin-left: 0.2em;
  padding: 0.1em;
  height: 1.5em;
  width: 1.5em;
  border: none;
}

.NavDropdown_button___collapsed {
  background-color: transparent;
}

.NavDropdown_button___expanded {
  background-color: white;
}

.NavDropdown_icon {
  font-size: 0.7em;
  display: block;
}

.NavDropdown_icon___collapsed {
  color: white;
  padding-top: 0.1rem;
}

.NavDropdown_icon___expanded {
  color: var(--purple);
}

/* adapted from hover.css */
.hvr-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-reveal:focus {
  outline: none;
}

.hvr-reveal:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-style: solid;
  border-width: 0;
  transition-property: border-width;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

.NavDropdown_button___collapsed.hvr-reveal:before {
  border-color: white;
}

.NavDropdown_button___expanded.hvr-reveal:before {
  border-color: var(--purple);
}

.hvr-reveal:hover:before,
.hvr-reveal:focus:before,
.hvr-reveal:active:before {
  transform: translateY(0);
  border-width: 2px;
}
