.NavLevel {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: var(--pink);
}

.NavLevel___wide {
  flex-direction: row;
  width: 100%;
  position: absolute;
  bottom: -3em;
  padding: 1em 1.5em;
}

.NavLevel___tall {
  flex-direction: column;
  height: 100%;
}

.NavLevel___0 {
  position: static;
  background-color: var(--purple);
}

.NavLevel_item {
  list-style: none;
}

.NavLevel_item___wide {
  padding-right: 1em;
}
