.Nav {
  position: fixed;
  z-index: 100;
  background-color: var(--purple);
}

.Nav___wide {
  left: 0;
  right: 0;
}

.Nav___tall {
  top: 0;
  bottom: 0;
  min-width: 50vw;
  overflow-y: scroll;
}

.Nav___tall::-webkit-scrollbar {
  width: 0.25rem;
}

.Nav___tall::-webkit-scrollbar-track {
  background: var(--purple);
}

.Nav___tall::-webkit-scrollbar-thumb {
  background: var(--lightPurple);
}
